canvas.background {
	position: relative;
	top: 2px;
	left: 40px;
	background: #F5F5DC; //beige
	padding: 10px;
	border: 2px solid #555;
	z-index: 0;
}

canvas.foreground {
	  position: relative;
	  left: -200px;
	  top: -2px;	  
      background: #F5F5DC; //beige
      padding-top: 10px;
	  padding-bottom: 10px;
      border: 1px solid #ff7000;
	  z-index: 2;
}
code.example, code.html {
      font-size: 14;
}